USE [lkdb]
GO
/****** Object:  StoredProcedure [dbo].[Sys_CauseSuggestionadd]    Script Date: 2018/1/1 13:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[Sys_CauseSuggestionadd]
(
    @CauseContent nvarchar(500),
	@ParentId int,
	@Sort int,
	@CauseCode nvarchar(50),
	@SuggestionContent nvarchar(500),
	@RelatedContent nvarchar(500),
	@CreateTime datetime,
	@CreateUserId int,
    @CreateUserName nvarchar(50)

) AS
DECLARE @CauseLevel as int
SET @CauseLevel=
(
	select CauseLevel from Sys_CauseSuggestion where CauseId=@ParentId
)
if @CauseLevel is null
	begin
		set @CauseLevel=0
	end

INSERT INTO [dbo].[Sys_CauseSuggestion]
           ([CauseContent]
           ,[ParentId]
           ,[Code]
           ,[Sort]
           ,[CauseLevel]
           ,[CauseCode]
           ,[SuggestionContent]
           ,[RelatedContent]
           ,[CreateTime]
           ,[CreateUserId]
           ,[CreateUserName])
     VALUES
	 (
	   @CauseContent,
	   @ParentId,
	  '',
	   @Sort,
	   @CauseLevel+1,
	   @CauseCode,
	   @SuggestionContent,
	   @RelatedContent,
	   @CreateTime,
	   @CreateUserId,
	   @CreateUserName
	 )

	 DECLARE @Code as varchar(50)
SET @Code=
(
	select Code from Sys_CauseSuggestion where CauseId=@ParentId
)

if @Code is null
	begin
		Update
					Sys_CauseSuggestion
		Set
					Code = '.'+ltrim(str(@@Identity))+'.'
		WHERE
					CauseId = @@Identity
	end
else
	begin
		Update
					Sys_CauseSuggestion
		Set
					Code =@Code+ltrim(str(@@Identity))+'.'
		WHERE
					CauseId = @@Identity
	end



RETURN @@Identity









GO
/****** Object:  Table [dbo].[BaseUser]    Script Date: 2018/1/1 13:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaseUser](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Account] [nvarchar](50) NOT NULL,
	[UserPassword] [nvarchar](50) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[RealName] [nvarchar](20) NULL,
	[Gender] [nvarchar](10) NULL,
	[Mobile] [nvarchar](20) NULL,
	[Telephone] [nvarchar](20) NULL,
	[OICQ] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[ChangePasswordDate] [datetime] NULL,
	[LogOnCount] [int] NULL,
	[FirstVisit] [datetime] NULL,
	[PreviousVisit] [datetime] NULL,
	[LastVisit] [datetime] NULL,
	[AuditStatus] [int] NULL,
	[AuditUserId] [int] NULL,
	[AuditUserName] [nvarchar](50) NULL,
	[AuditDateTime] [datetime] NULL,
	[Remark] [nvarchar](100) NULL,
	[Enabled] [int] NULL,
	[SortCode] [int] NULL,
	[DeleteMark] [int] NULL,
	[CreateTime] [datetime] NOT NULL,
	[CreateUserId] [int] NULL,
	[CreateUserName] [nvarchar](50) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyUserId] [int] NULL,
	[ModifyUserName] [nvarchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Module]    Script Date: 2018/1/1 13:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Module](
	[ModuleId] [int] IDENTITY(1,1) NOT NULL,
	[ModuleName] [nvarchar](50) NOT NULL,
	[ParentId] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[Sort] [int] NOT NULL,
	[CreateUserId] [int] NOT NULL,
	[ControllerName] [varchar](50) NULL,
	[ActionName] [varchar](50) NULL,
	[Code] [nvarchar](100) NULL,
	[Icon] [nvarchar](50) NULL,
	[ModuleLevel] [int] NULL,
	[IsShow] [int] NULL,
 CONSTRAINT [PK_Module] PRIMARY KEY CLUSTERED 
(
	[ModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ModuleOperate]    Script Date: 2018/1/1 13:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModuleOperate](
	[ModuleOperateId] [int] IDENTITY(1,1) NOT NULL,
	[ModuleOperateName] [nvarchar](50) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[CreateUserId] [int] NOT NULL,
	[CreateUserName] [nvarchar](50) NOT NULL,
	[Enabled] [int] NOT NULL,
	[ModuleId] [int] NOT NULL,
	[JsEvent] [nvarchar](50) NULL,
	[Icon] [nvarchar](50) NULL,
	[Code] [nvarchar](50) NULL,
	[Sort] [int] NULL,
 CONSTRAINT [PK_ModuleOperate] PRIMARY KEY CLUSTERED 
(
	[ModuleOperateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ModuleOperateRole]    Script Date: 2018/1/1 13:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModuleOperateRole](
	[ModuleOperateRoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[ModuleOperateId] [int] NOT NULL,
 CONSTRAINT [PK_ModuleOperateRole] PRIMARY KEY CLUSTERED 
(
	[ModuleOperateRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ModuleRole]    Script Date: 2018/1/1 13:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModuleRole](
	[ModuleRoleId] [int] IDENTITY(1,1) NOT NULL,
	[ModuleId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_ModuleRole] PRIMARY KEY CLUSTERED 
(
	[ModuleRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 2018/1/1 13:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[CreateUserId] [int] NOT NULL,
	[Sort] [int] NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Remark] [nvarchar](50) NULL,
	[DeleteMark] [int] NULL,
	[CreateUserName] [nvarchar](50) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyUserId] [int] NULL,
	[ModifyUserName] [nvarchar](50) NULL,
 CONSTRAINT [PK_ep] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SysLog]    Script Date: 2018/1/1 13:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SysLog](
	[SysLogId] [int] IDENTITY(1,1) NOT NULL,
	[ModuleId] [int] NULL,
	[IPAddress] [varchar](50) NULL,
	[IPAddressName] [nvarchar](100) NULL,
	[LogType] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[CreateUserId] [int] NULL,
	[CreateUserName] [nvarchar](50) NULL,
	[Remark] [nvarchar](100) NULL,
	[Status] [int] NOT NULL,
	[ObjectId] [nvarchar](50) NULL,
 CONSTRAINT [PK_SysLog] PRIMARY KEY CLUSTERED 
(
	[SysLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SysLogDetail]    Script Date: 2018/1/1 13:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysLogDetail](
	[SysLogDetailId] [int] IDENTITY(1,1) NOT NULL,
	[SysLogId] [int] NOT NULL,
	[PropertyName] [nvarchar](50) NULL,
	[PropertyField] [nvarchar](50) NULL,
	[NewValue] [nvarchar](1000) NULL,
	[OldValue] [nvarchar](1000) NULL,
	[CreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_SysLOgDetail] PRIMARY KEY CLUSTERED 
(
	[SysLogDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_ActivityArea]    Script Date: 2018/1/1 13:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_ActivityArea](
	[ActivitAreaId] [int] IDENTITY(1,1) NOT NULL,
	[ActivityName] [nvarchar](50) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[CreateUserId] [int] NOT NULL,
 CONSTRAINT [PK_T_ActivityArea] PRIMARY KEY CLUSTERED 
(
	[ActivitAreaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_Agency]    Script Date: 2018/1/1 13:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Agency](
	[AgencyId] [int] IDENTITY(1,1) NOT NULL,
	[AgencyName] [nvarchar](100) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[CreateUserId] [int] NOT NULL,
 CONSTRAINT [PK_T_Agency] PRIMARY KEY CLUSTERED 
(
	[AgencyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_SaleActivity]    Script Date: 2018/1/1 13:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_SaleActivity](
	[SaleActivityId] [int] IDENTITY(1,1) NOT NULL,
	[AgencyId] [int] NOT NULL,
	[ActivityDate] [date] NOT NULL,
	[SaleActivityTypeId] [int] NOT NULL,
	[PassengerFlow] [int] NOT NULL,
	[LatentPassengerFlow] [int] NOT NULL,
	[CarOwner] [int] NOT NULL,
	[OrderQuantity] [int] NOT NULL,
	[PrimeCost] [decimal](18, 2) NOT NULL,
	[LaterOrderQuantity] [int] NOT NULL,
	[PublishWay] [nvarchar](50) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[CreateUserId] [int] NOT NULL,
	[ActivityName] [nvarchar](100) NULL,
 CONSTRAINT [PK_T_SaleActivity] PRIMARY KEY CLUSTERED 
(
	[SaleActivityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_SaleActivityType]    Script Date: 2018/1/1 13:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_SaleActivityType](
	[SaleActivityTypeId] [int] IDENTITY(1,1) NOT NULL,
	[SaleActivityTypeName] [nvarchar](50) NOT NULL,
	[SortCode] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[CreateUserId] [int] NOT NULL,
 CONSTRAINT [PK_T_SaleActivityType] PRIMARY KEY CLUSTERED 
(
	[SaleActivityTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 2018/1/1 13:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[UserRoleId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[UserRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BaseUser] ON 

SET IDENTITY_INSERT [dbo].[BaseUser] OFF
SET IDENTITY_INSERT [dbo].[Module] ON 

INSERT [dbo].[Module] ([ModuleId], [ModuleName], [ParentId], [CreateTime], [Sort], [CreateUserId], [ControllerName], [ActionName], [Code], [Icon], [ModuleLevel], [IsShow]) VALUES (1, N'系统设置', 0, CAST(0x0000A7EF009D9824 AS DateTime), 1, 17, N'System', NULL, N'1', N'&#xe62e;', 0, 1)
INSERT [dbo].[Module] ([ModuleId], [ModuleName], [ParentId], [CreateTime], [Sort], [CreateUserId], [ControllerName], [ActionName], [Code], [Icon], [ModuleLevel], [IsShow]) VALUES (2, N'用户管理', 1, CAST(0x0000A7EF009CBAA8 AS DateTime), 2, 17, N'System', N'UserManage', N'1,2', N'', 0, 1)
INSERT [dbo].[Module] ([ModuleId], [ModuleName], [ParentId], [CreateTime], [Sort], [CreateUserId], [ControllerName], [ActionName], [Code], [Icon], [ModuleLevel], [IsShow]) VALUES (3, N'模块管理', 1, CAST(0x0000A7EF009CD344 AS DateTime), 3, 17, N'System', N'ModuleManage', N'1,3', N'', 0, 1)
SET IDENTITY_INSERT [dbo].[Module] OFF
SET IDENTITY_INSERT [dbo].[ModuleOperate] ON 

INSERT [dbo].[ModuleOperate] ([ModuleOperateId], [ModuleOperateName], [CreateTime], [CreateUserId], [CreateUserName], [Enabled], [ModuleId], [JsEvent], [Icon], [Code], [Sort]) VALUES (5, N'添加', CAST(0x0000A7ED0119E53C AS DateTime), 17, N'admin', 1, 2, N'btn_add()', N'&#xe600', NULL, 0)
INSERT [dbo].[ModuleOperate] ([ModuleOperateId], [ModuleOperateName], [CreateTime], [CreateUserId], [CreateUserName], [Enabled], [ModuleId], [JsEvent], [Icon], [Code], [Sort]) VALUES (11, N'编辑', CAST(0x0000A7ED0119FB80 AS DateTime), 17, N'admin', 1, 2, N'btn_edit()', N'&#xe60c', NULL, 0)
INSERT [dbo].[ModuleOperate] ([ModuleOperateId], [ModuleOperateName], [CreateTime], [CreateUserId], [CreateUserName], [Enabled], [ModuleId], [JsEvent], [Icon], [Code], [Sort]) VALUES (12, N'添加', CAST(0x0000A7EF00928C68 AS DateTime), 17, N'admin', 1, 3, N'btn_add()', N'&#xe600', NULL, 0)
SET IDENTITY_INSERT [dbo].[ModuleOperate] OFF
SET IDENTITY_INSERT [dbo].[ModuleOperateRole] ON 

INSERT [dbo].[ModuleOperateRole] ([ModuleOperateRoleId], [RoleId], [ModuleOperateId]) VALUES (1008, 1010, 5)
INSERT [dbo].[ModuleOperateRole] ([ModuleOperateRoleId], [RoleId], [ModuleOperateId]) VALUES (1009, 1010, 11)
INSERT [dbo].[ModuleOperateRole] ([ModuleOperateRoleId], [RoleId], [ModuleOperateId]) VALUES (1010, 1010, 12)
SET IDENTITY_INSERT [dbo].[ModuleOperateRole] OFF
SET IDENTITY_INSERT [dbo].[ModuleRole] ON 

INSERT [dbo].[ModuleRole] ([ModuleRoleId], [ModuleId], [RoleId]) VALUES (1004, 1, 1010)
INSERT [dbo].[ModuleRole] ([ModuleRoleId], [ModuleId], [RoleId]) VALUES (1005, 2, 1010)
INSERT [dbo].[ModuleRole] ([ModuleRoleId], [ModuleId], [RoleId]) VALUES (1006, 3, 1010)
SET IDENTITY_INSERT [dbo].[ModuleRole] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [RoleName], [CreateTime], [CreateUserId], [Sort], [Code], [Remark], [DeleteMark], [CreateUserName], [ModifyDate], [ModifyUserId], [ModifyUserName]) VALUES (1, N'管理员', CAST(0x0000A7E100000000 AS DateTime), 1, 1, N'01', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Role] ([RoleId], [RoleName], [CreateTime], [CreateUserId], [Sort], [Code], [Remark], [DeleteMark], [CreateUserName], [ModifyDate], [ModifyUserId], [ModifyUserName]) VALUES (4, N'客服123', CAST(0x0000A7E4011ACD44 AS DateTime), 0, 0, NULL, N'测试123', 0, NULL, CAST(0x0000A7E50112CBA8 AS DateTime), 17, N'admin')
INSERT [dbo].[Role] ([RoleId], [RoleName], [CreateTime], [CreateUserId], [Sort], [Code], [Remark], [DeleteMark], [CreateUserName], [ModifyDate], [ModifyUserId], [ModifyUserName]) VALUES (1002, N'测试橘色3331', CAST(0x0000A7E500B50A7C AS DateTime), 0, 0, NULL, N'测试3331', 0, N'admin', CAST(0x0000A7E5010FB24C AS DateTime), 17, N'admin')
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[SysLog] ON 

INSERT [dbo].[SysLog] ([SysLogId], [ModuleId], [IPAddress], [IPAddressName], [LogType], [CreateTime], [CreateUserId], [CreateUserName], [Remark], [Status], [ObjectId]) VALUES (1, NULL, N'1', N'1', 1, CAST(0x0000A7C500000000 AS DateTime), 1, N'444', NULL, 0, NULL)
INSERT [dbo].[SysLog] ([SysLogId], [ModuleId], [IPAddress], [IPAddressName], [LogType], [CreateTime], [CreateUserId], [CreateUserName], [Remark], [Status], [ObjectId]) VALUES (3, NULL, NULL, NULL, 1, CAST(0x0000A7D100F7A670 AS DateTime), NULL, NULL, N'账号不存在、IP所在城市IANA保留地址用于本地回送', 1, N'3312321')
INSERT [dbo].[SysLog] ([SysLogId], [ModuleId], [IPAddress], [IPAddressName], [LogType], [CreateTime], [CreateUserId], [CreateUserName], [Remark], [Status], [ObjectId]) VALUES (4, NULL, NULL, NULL, 1, CAST(0x0000A7D100F7F878 AS DateTime), NULL, NULL, N'账号不存在、IP所在城市局域网 ', 1, N'789')
GO
SET IDENTITY_INSERT [dbo].[SysLog] OFF
SET IDENTITY_INSERT [dbo].[SysLogDetail] ON 

INSERT [dbo].[SysLogDetail] ([SysLogDetailId], [SysLogId], [PropertyName], [PropertyField], [NewValue], [OldValue], [CreateTime]) VALUES (1, 1041, N'RoleId', N'RoleId', N'0', NULL, CAST(0x0000A7E500BB9770 AS DateTime))
INSERT [dbo].[SysLogDetail] ([SysLogDetailId], [SysLogId], [PropertyName], [PropertyField], [NewValue], [OldValue], [CreateTime]) VALUES (2, 1041, N'RoleName', N'RoleName', N'3334444', NULL, CAST(0x0000A7E500BB989C AS DateTime))
INSERT [dbo].[SysLogDetail] ([SysLogDetailId], [SysLogId], [PropertyName], [PropertyField], [NewValue], [OldValue], [CreateTime]) VALUES (3, 1041, N'CreateTime', N'CreateTime', N'2017/9/5 11:22:30', NULL, CAST(0x0000A7E500BB989C AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[SysLogDetail] OFF
SET IDENTITY_INSERT [dbo].[UserRole] ON 

INSERT [dbo].[UserRole] ([UserRoleId], [UserId], [RoleId]) VALUES (3, 2, 1002)
INSERT [dbo].[UserRole] ([UserRoleId], [UserId], [RoleId]) VALUES (4, 35, 1010)
INSERT [dbo].[UserRole] ([UserRoleId], [UserId], [RoleId]) VALUES (5, 38, 1010)
SET IDENTITY_INSERT [dbo].[UserRole] OFF
ALTER TABLE [dbo].[BaseUser] ADD  CONSTRAINT [DF_BaseUser_LogOnCount]  DEFAULT ((1)) FOR [LogOnCount]
GO
ALTER TABLE [dbo].[BaseUser] ADD  CONSTRAINT [DF_BaseUser_AuditStatus]  DEFAULT ((1)) FOR [AuditStatus]
GO
ALTER TABLE [dbo].[BaseUser] ADD  CONSTRAINT [DF_BaseUser_SortCode]  DEFAULT ((1)) FOR [SortCode]
GO
ALTER TABLE [dbo].[BaseUser] ADD  CONSTRAINT [DF_BaseUser_DeleteMark]  DEFAULT ((0)) FOR [DeleteMark]
GO
ALTER TABLE [dbo].[SysLog] ADD  CONSTRAINT [DF_SysLog_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
ALTER TABLE [dbo].[SysLogDetail] ADD  CONSTRAINT [DF_SysLogDetail_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
ALTER TABLE [dbo].[ModuleOperate]  WITH CHECK ADD  CONSTRAINT [FK_ModuleOperate_Module] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[Module] ([ModuleId])
GO
ALTER TABLE [dbo].[ModuleOperate] CHECK CONSTRAINT [FK_ModuleOperate_Module]
GO
ALTER TABLE [dbo].[ModuleRole]  WITH CHECK ADD  CONSTRAINT [FK_ModuleRole_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[ModuleRole] CHECK CONSTRAINT [FK_ModuleRole_Role]
GO
ALTER TABLE [dbo].[SysLog]  WITH CHECK ADD  CONSTRAINT [FK_SysLog_BaseUser] FOREIGN KEY([CreateUserId])
REFERENCES [dbo].[BaseUser] ([UserId])
GO
ALTER TABLE [dbo].[SysLog] CHECK CONSTRAINT [FK_SysLog_BaseUser]
GO
ALTER TABLE [dbo].[SysLog]  WITH CHECK ADD  CONSTRAINT [FK_SysLog_Module] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[Module] ([ModuleId])
GO
ALTER TABLE [dbo].[SysLog] CHECK CONSTRAINT [FK_SysLog_Module]
GO
ALTER TABLE [dbo].[SysLogDetail]  WITH CHECK ADD  CONSTRAINT [FK_SysLOgDetail_SysLog] FOREIGN KEY([SysLogId])
REFERENCES [dbo].[SysLog] ([SysLogId])
GO
ALTER TABLE [dbo].[SysLogDetail] CHECK CONSTRAINT [FK_SysLOgDetail_SysLog]
GO
ALTER TABLE [dbo].[T_SaleActivity]  WITH CHECK ADD  CONSTRAINT [FK_T_SaleActivity_BaseUser] FOREIGN KEY([CreateUserId])
REFERENCES [dbo].[BaseUser] ([UserId])
GO
ALTER TABLE [dbo].[T_SaleActivity] CHECK CONSTRAINT [FK_T_SaleActivity_BaseUser]
GO
ALTER TABLE [dbo].[T_SaleActivity]  WITH CHECK ADD  CONSTRAINT [FK_T_SaleActivity_T_Agency] FOREIGN KEY([AgencyId])
REFERENCES [dbo].[T_Agency] ([AgencyId])
GO
ALTER TABLE [dbo].[T_SaleActivity] CHECK CONSTRAINT [FK_T_SaleActivity_T_Agency]
GO
ALTER TABLE [dbo].[T_SaleActivity]  WITH CHECK ADD  CONSTRAINT [FK_T_SaleActivity_T_SaleActivityType] FOREIGN KEY([SaleActivityTypeId])
REFERENCES [dbo].[T_SaleActivityType] ([SaleActivityTypeId])
GO
ALTER TABLE [dbo].[T_SaleActivity] CHECK CONSTRAINT [FK_T_SaleActivity_T_SaleActivityType]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_Role]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BaseUser', @level2type=N'COLUMN',@level2name=N'Account'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户编码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BaseUser', @level2type=N'COLUMN',@level2name=N'Code'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'性别' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BaseUser', @level2type=N'COLUMN',@level2name=N'Gender'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'手机号码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BaseUser', @level2type=N'COLUMN',@level2name=N'Mobile'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'电话号码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BaseUser', @level2type=N'COLUMN',@level2name=N'Telephone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'QQ号码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BaseUser', @level2type=N'COLUMN',@level2name=N'OICQ'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最后修改密码的日期' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BaseUser', @level2type=N'COLUMN',@level2name=N'ChangePasswordDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录次数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BaseUser', @level2type=N'COLUMN',@level2name=N'LogOnCount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'第一次访问时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BaseUser', @level2type=N'COLUMN',@level2name=N'FirstVisit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'上一次访问时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BaseUser', @level2type=N'COLUMN',@level2name=N'PreviousVisit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'审核状态' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BaseUser', @level2type=N'COLUMN',@level2name=N'AuditStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0无效 1有效' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BaseUser', @level2type=N'COLUMN',@level2name=N'Enabled'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BaseUser', @level2type=N'COLUMN',@level2name=N'SortCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'删除标记 1删除0不删除' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BaseUser', @level2type=N'COLUMN',@level2name=N'DeleteMark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Module', @level2type=N'COLUMN',@level2name=N'Sort'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'控制器' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Module', @level2type=N'COLUMN',@level2name=N'ControllerName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'方法' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Module', @level2type=N'COLUMN',@level2name=N'ActionName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Module', @level2type=N'COLUMN',@level2name=N'Code'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'图标' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Module', @level2type=N'COLUMN',@level2name=N'Icon'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'等级' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Module', @level2type=N'COLUMN',@level2name=N'ModuleLevel'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否显示1显示0不显示' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Module', @level2type=N'COLUMN',@level2name=N'IsShow'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'模块操作名字' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ModuleOperate', @level2type=N'COLUMN',@level2name=N'ModuleOperateName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'模块Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysLog', @level2type=N'COLUMN',@level2name=N'ModuleId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'经销商活动区域' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_ActivityArea', @level2type=N'COLUMN',@level2name=N'ActivitAreaId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'经销商Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Agency', @level2type=N'COLUMN',@level2name=N'AgencyId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'经销商活动ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_SaleActivity', @level2type=N'COLUMN',@level2name=N'SaleActivityId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'订单量' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_SaleActivity', @level2type=N'COLUMN',@level2name=N'SaleActivityTypeId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'活动客流量' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_SaleActivity', @level2type=N'COLUMN',@level2name=N'PassengerFlow'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'潜在客流量' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_SaleActivity', @level2type=N'COLUMN',@level2name=N'LatentPassengerFlow'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'活动车主量' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_SaleActivity', @level2type=N'COLUMN',@level2name=N'CarOwner'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'成本金额' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_SaleActivity', @level2type=N'COLUMN',@level2name=N'PrimeCost'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'后续订单量' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_SaleActivity', @level2type=N'COLUMN',@level2name=N'LaterOrderQuantity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'活动名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_SaleActivity', @level2type=N'COLUMN',@level2name=N'ActivityName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'经销商活动类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_SaleActivityType', @level2type=N'COLUMN',@level2name=N'SaleActivityTypeId'
GO
